<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings>
    <add name="StockContext" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=stockdb;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="StockContextXX" connectionString="Server=tcp:beonthewatch.database.windows.net,1433;Initial Catalog=stockdb;                User ID=dba2016;Password=Be0nthew@tch;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;                                                Persist Security Info=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>